@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
body {
  background-color: #872341;
  margin-top: 50px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

p {
  padding: 0;
  margin: 0;
}

.btn {
  color: white;
  background-color: #22092C;
}

.material-symbols-outlined {
  margin: 0;
  cursor: pointer;
  font-size: 18px;
}

.card {
  background-color: #F05941;
  color: white;
}
