@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(227, 219, 219);
  font-family: "Poppins", sans-serif;
}

h3 {
  color: white;
}

.btn {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn button {
  outline: none;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 12px;
  padding: 8px;
  background-color: black;
  color: white;
  transition-duration: 0.4s;
  text-transform: uppercase;
  font: inherit;
}

.btn button:hover {
  background-color: inherit;
  color: white;
  border: none;
}
